* {
    margin: 0;
    padding: 0;
}

#externo {
  height: 100px;
  width: 400px;
  background-color: #f4d0f4;
  color: #585757;
  margin: 20px;
  padding: 20px;
}

main {
    height: 100vh;
    background-color: #585757;
}

div > h1 {
    color: white;
}

span + h1 {
    color: red;
}

h1 ~ p {
    color: aqua;
}

.btn {
    box-sizing: border-box;
    width: 88px;
    padding: 10px;
    background-color: darkcyan;
    border-radius: 12px;
    border-width: 0;
}

.btn:hover {
    background-color: #a6efef;
    cursor: pointer;
}